<!-- layout file includes stylesheets and external js libraries -->
<% layout('layout') -%>

<script src="/javascripts/bargraph.js"></script>
<h1><%= title %></h1>
<br>
<div name="chart1" style="float:left">
  <p>Below is a chart of the user <b><%= user %></b>'s nodes per timestamp (limit 200)</p>
  <svg class="chart" id="chart1"></svg>
</div>
<div name="chart2">
  <p>Below is a chart of the user <b><%= user %></b>'s nodes per timestamp (limit 200), in human readable format</p>
  <svg class="chart" id="chart2"></svg>
</div>

<script>
// Extract the backend Express data (all nodes stored in the variable name 'data')
var localData = <%- JSON.stringify(data) %>;

// the countProperty function counts the frequency of each value present in the desired property
chartData = countProperty("timestamp", localData)
sort(chartData,"key"); // sort the timestamps to appear in chronological order
drawBarGraph(chartData, "#chart1");

chartData = countField("date", localData);
sort(chartData,"key");
drawBarGraph(chartData, "#chart2");


</script>

<!--<p>This is a list of all timestamps found (limit 200):</p>
<ul>
<% for (var i = 0; i < data.length; i++)  {%>
  <li><%= data[i].properties.timestamp %></li>
<% } %>-->

